AIRTABLE_BASE_ID=appKhlj079WS6zlii
AIRTABLE_API_KEY=patIw4wUBkogAQmAn.f3aad5f6032fea08d6389f986d8b5c1c7ea6b327cd0db6c40258c8d9ccc6a294
CONSTELACIONES_PASSWORD=mexicocity
NOTIFICATION_EMAIL=jasmine.operations@gmail.com
